*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background: #fffbf1;
}
header{
    width: 100%;
    height: 120px;
    background: #16191e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}.hamburgo{
    display: none;
}
.navbar ul{
    display: flex;
}
.navbar ul li a{
    display: block;
    color: #fffbf1;
    font-size: 17px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    font-family: 'Montserrat', sans-serif;
}
.navbar ul li a:hover{
    color:#16191e ;
    background:#e3b675;
}
@media only screen and (max-width: 1320px){
    header{
        padding: 0 50px;
    }
}
@media only screen and (max-width: 1100px){
    header{
        padding: 0 30px;
    }
}
@media only screen and (max-width: 900px){
    .hamburgo{
        display: block;
        cursor: pointer;
    }
    .hamburgo .line{
        width: 30px;
        height: 3px;
        background-color: #fffbf1;
        margin: 6px 0;
    }
    .navbar{
        height: 0px;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100vw;
        background: #16191e;
        transition: 0.2s;
        overflow: hidden;
    }
    .navbar.active{
        height: 450px;
    }
    .navbar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s ;
        opacity: 0;
    }
    .navbar.active ul{
        opacity: 1;
    }
    .navbar ul li a{
        margin-bottom: 12px;
    }

}
.contenedor{
    width: 100%;
    min-height: 100vh;
    background-color: #fffbf1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 90px;
}
.content-sect{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.content-sect .carta{
    flex: 1;
    margin: 10px 10px;
    border-radius: 8px;
}
.carta img{
    width: 600px;
    height: 600px;
    object-fit: cover;
    padding: 10px;
}
.content-sect .carta h2{
    margin: 15px  0px;
    font-size: 28px;
    color: #16191e;
    font-family: 'Montserrat', sans-serif;
}
.content-sect .carta p{
    font-size: 16px;
    line-height: 1.5;
    padding: 0px 10px;
    margin-bottom: 20px;
    font-family: 'Nexa', sans-serif;
}
.contenedor2{
    width: 100%;
    min-height: 50vh;
    background-color: #fffbf1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 90px;
}
.content-sect2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.content-sect2 .carta2{
    flex: 1;
    margin: 10px 10px;
    border-radius: 8px;
}
.carta2 img{
    width: 600px;
    height: 600px;
    object-fit: cover;
    padding: 10px;
}
.content-sect2 .carta2 h2{
    margin: 15px  0px;
    font-size: 28px;
    color: #16191e;
    font-family: 'Montserrat', sans-serif;
}
.content-sect2 .carta2 p{
    font-size: 16px;
    line-height: 1.5;
    padding: 0px 10px;
    margin-bottom: 20px;
    font-family: 'Nexa', sans-serif;
}
button{
    width: 200px;
    padding: 15px 0;
    border-radius:  25px;
    font-weight: bold;
    background: transparent;
    border: 2px solid #e3b675;
    color: #e3b675;
    cursor: pointer;
    font-family: 'Nexa', sans-serif;
    font-size: 18px;
}

button:hover{
    color: #fffbf1;
    background-color: #e3b675;
    transition: all 0.6s ease 0s; 
}





footer{
    padding-top:30vh ;
}
.footer-content{
    width: 33.3%;
}
.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.footer-content p{
    width: 190px;
    margin: auto;
    padding: 7px;
    font-family: 'Nexa', sans-serif;
    color: #16191e;
    font-weight: bold;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
    font-family: 'Nexa', sans-serif;
    font-weight: bold;
    color: #16191e;
    font-size:16px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    font-size: 30px;
}
a{
    text-decoration: none;
    color: #16191e;
}
a:hover{
 color: #e3b675;
}
.social-icons i:hover{
    color: #e3b675;
}
.barra{
    background-color: #0d2132;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.barra p{
    color:#fffbf1 ;
    margin: 0;
    font-size: 16px;
    padding: 7px;
    font-family: 'Montserrat', sans-serif;
}